<form action="/companies/{{companyId}}/snowboards/{{snowboard._id}}?_method=PUT" method="POST">

<label>Name:</label>
<input type="text" name="name" value="{{snowboard.name}}"><br>
<label>Price:</label>
<input type="number" name="price" value="{{snowboard.price}}"><br>
<input type="submit" value="Edit">

</form>