<form action="/companies/{{companyId}}/snowboards" method="POST">
<label>Name:</label>
<input type="text" name="name"><br>
<label>Price:</label>
<input type="number" name="price"><br>
<input type="submit" value="Create">
</form>